<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Creazione Scenario – Indovinello</title>
        <link
            rel="stylesheet"
            href="..\static\css\creazione_scenario_indovinello.css"
        />
    </head>
    <body>
        <div class="container">
            <h1>Creazione Scenario – Indovinello</h1>
            <form id="form" action="#" method="POST">
                <label for="nome_scenario">Nome Scenario</label>
                <input type="text" id="nome_scenario" name="nome_scenario" required />
                <label for="descrizione_scenario">Descrizione scenario</label>
                <textarea
                    id="descrizione_scenario"
                    name="descrizione_scenario"
                    rows="4"
                    required
                ></textarea>
                <label for="descrizione_indovinello">Descrizione indovinello</label>
                <textarea
                    id="descrizione_indovinello"
                    name="descrizione_indovinello"
                    rows="3"
                    required
                ></textarea>
                <label for="risposta">Risposta</label>
                <input type="text" id="risposta" name="risposta" required />
                <div class="row">
                    <div>
                        <label for="scenario_risposta_corretta"
                            >Scenario se la risposta è corretta</label
                        >
                        <select
                            id="scenario_risposta_corretta"
                            name="scenario_risposta_corretta"
                            required
                        ></select>
                    </div>
                    <div>
                        <label for="scenario_risposta_sbagliata"
                            >Scenario se la risposta è sbagliata</label
                        >
                        <select
                            id="scenario_risposta_sbagliata"
                            name="scenario_risposta_sbagliata"
                            required
                        ></select>
                    </div>
                </div>
                <button type="submit">Invio</button>
            </form>
        </div>
        <script src="D:\Università\progettoSweng\InteractiveStory\src\main\resources\static\js\creazione_scenario_oggetto.js"></script>
    </body>
</html>
