<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleziona Azione</title>
    <link rel="stylesheet" href="D:\Università\progettoSweng\InteractiveStory\src\main\resources\static\css\index.css">
</head>
<body>
    <div class="container">
        <a href="scrivi_storia.html" class="button button-1">Scrivi Storia</a>
        <a href="gioca_storia.html" class="button button-2">Gioca Storia</a>
        <a href="visualizza_storie.html" class="button button-3">Visualizza Storie</a>
    </div>
</body>
</html>
