<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gioca Storia</title>
    <link rel="stylesheet" href="D:\Università\progettoSweng\InteractiveStory\src\main\resources\static\css\gioca_storia.css">
</head>
<body>
    <div class="container-stories">
        <h1>
            Elenco delle Storie
        </h1>
        <div id ="story-grid" class="story-grid"></div>
        <a href="index.html" class="back-button">Torna alla Home</a>
    </div>
    <script src="D:\Università\progettoSweng\InteractiveStory\src\main\resources\static\js\elenco_storie_visualizza.js"></script>
</body>
</html>
